[user]
    email = git@patrickhaussmann.de
    name = patrickhaussmann

[commit]
    template = ~/.gitmessage
    # show diff when editing the commit message
    verbose = true
    #gpgsign = true

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

[pull]
    rebase = true

[diff]
    # Detect copies as well as renames
    renames = copies

[merge]
    # Include summaries of merged commits in newly created merge commit messages
    log = true

[rebase]
    autosquash = true

[init]
    defaultBranch = master

[apply]
    # Detect whitespace errors when applying a patch
    whitespace = fix

[core]
    # Treat spaces before tabs and all kinds of trailing whitespace as an error
    whitespace = space-before-tab,-indent-with-non-tab,trailing-space

[alias]
    # View abbreviated SHA, description, and history graph
    l = log --color --decorate --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an (%G?)>%Creset' --abbrev-commit

    undo = !git reset HEAD~1 --mixed
    top = !git log --format=format:%an | sort | uniq -c | sort -r | head -n 20

    # list all roots (commits without a parent)
    roots = log --all --oneline --decorate --max-parents=0

    # git amend [-a|-p|FILE] to just add something to the last commit
    amend = commit --amend --no-edit

    # git reword -- edit the last commit message
    reword = commit --amend --only -v
    staged = diff --staged

    alias= !git config -l | grep ^alias | cut -c 7- | sed 's/=/ = /' | bat --style=plain -l toml

    # View the current working tree status using the short format
    s = status -s
    info = !git-info

    # Show the diff of everything you haven't pushed yet.
    unpushed = git diff origin/$(git rev-parse --abbrev-ref HEAD)..HEAD

