
alias ls='ls -h --color=auto'
alias grep='grep --color=auto'
alias la='ls -al'
alias ll='_(){ la --color=never $* | less; }; _'

# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ~="cd ~"
alias -- -="cd -"

alias update='sudo apt update && sudo apt upgrade -y && sudo apt full-upgrade -y && sudo apt autoremove -y'
alias s='sudo'
alias sai='sudo apt install'
alias sap='sudo apt purge'
alias mkcd='_(){ mkdir $1; cd $1; }; _'
alias du='du -ach | sort -h'
alias fhere='find . -name'
alias wget='wget -c'
alias myip='curl -s https://api64.ipify.org; echo'
alias myip4='curl -s https://api.ipify.org; echo'
alias myip6='curl -s https://api6.ipify.org; echo'

# personal laptop

alias serve='python3 -m http.server --bind 127.0.0.1 4000'
alias picrename='_(){  MY_PATH=$(readlink -nf $1); fd '.' -e jpeg "$MY_PATH" -x mv {} {.}.jpg ;  exiftool -P "-filename<FileModifyDate" "-filename<DateTimeOriginal" "-filename<CreateDate" -d "%Y%m%d-%H%M%S%%-c.%%le" -ext jpg -ext png -ext nef -ext mov -ext mp4 -ext lrv -r "$MY_PATH" ; fd '.' -e lrv "$MY_PATH" -x mv {} {.}.lrv.mp4 ; }; _'
