
alias ls='ls -h --color=auto'
alias grep='grep --color=auto'
alias la='ls -al'
alias ll='_(){ la --color=never $* | less; }; _'

# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ~="cd ~"
alias -- -="cd -"
alias x='exit'

alias update='sudo apt update && sudo apt upgrade -y && sudo apt full-upgrade -y && sudo apt autoremove -y'
alias s='sudo'
alias sai='sudo apt install'
alias sap='sudo apt purge'
alias mkcd='_(){ mkdir $1; cd $1; }; _'
alias du='du -ach | sort -h'
alias fhere='find . -name'
alias wget='wget -c'
alias myip='curl -s https://api64.ipify.org; echo'
alias myip4='curl -s https://api.ipify.org; echo'
alias myip6='curl -s https://api6.ipify.org; echo'

alias m='LC_ALL="en_US.UTF-8" mosh --ssh="ssh -p 4863"'
alias python='python3'
alias pip='pip3'
alias serve='python -m http.server --bind 127.0.0.1 4000'

